!!! 5
%html
  %head
    %title
      - if !@artist && !@title
        So nice
      - else
        = [@artist, @title].compact.join(" — ")
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0;' }
    %link{:rel => 'stylesheet', :href => '/stylesheet.css'}

  %body{:style => @image_uri ? "background-image:url(#{@image_uri})" : nil }
    %h1#title= @title
    %h2#artist= @artist
    %h3#album= @album

    %form{:method => 'post', :action => 'player'}
      %input{:type => "hidden", :name => "_method", :value => "put"}
      - if settings.controls
        %input#playpause{:type=>'button', :value=>'▸', :name=>'playpause', :title=>"Play/Pause", :'data-key'=>" ", :'data-key-name'=>"space"}
        %input#prev{     :type=>'button', :value=>'←', :name=>'prev',      :title=>"Previous",   :'data-key'=>"p"}
        %input#next{     :type=>'button', :value=>'→', :name=>'next',      :title=>"Next",       :'data-key'=>"n"}
        %input#voldown{  :type=>'button', :value=>'♪', :name=>'voldown',   :title=>"Quieter",    :'data-key'=>"-"}
        %input#volup{    :type=>'button', :value=>'♫', :name=>'volup',     :title=>"Louder",     :'data-key'=>"+"}
      - if settings.voting
        %input#vote{     :type=>'button', :value=>'↡', :name=>'vote',      :title=>"Vote to Skip", :'data-key' => "s" }

    %script{:src => '/jquery.min.js'}
    %script{:src => '/script.js'}

