!!!
%html
  %head
    %title
      = @artist
      = @artist && @title ? "—" : ""
      = @title
      = !@artist && !@title ? "So nice" : ""
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0;' }
    %link{:rel => 'stylesheet', :href => '/stylesheet.css'}

  %body{:style => @image_uri ? "background-image:url(#{@image_uri})" : nil }
    %h1#title= @title
    %h2#artist= @artist
    %h3#album= @album

    - if settings.controls
      %form{:method => 'post', :action => 'player'}
        %p
          %input{:type=>'submit', :value => '▸', :name=>'playpause', :title => "Play/Pause"}
          %input{:type=>'submit', :value => '←', :name=>'prev',      :title => "Previous"}
          %input{:type=>'submit', :value => '→', :name=>'next',      :title => "Next"}
          %input{:type=>'submit', :value => '♪', :name=>'voldown',   :title => "Quieter"}
          %input{:type=>'submit', :value => '♫', :name=>'volup',     :title => "Louder"}

    %script{:src => '/jquery.min.js'}
    %script{:src => '/jquery.shortkeys.js'}
    %script{:src => '/script.js'}
