!!! 5
%html
  %head
    %title
      = @artist
      = @artist && @title ? "—" : ""
      = @title
      = !@artist && !@title ? "So nice" : ""
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width; initial-scale=1.0; maximum-scale=1.0;' }
    %link{:rel => 'stylesheet', :href => '/stylesheet.css'}

  %body{:style => @image_uri ? "background-image:url(#{@image_uri})" : nil }
    %h1#title= @title
    %h2#artist= @artist
    %h3#album= @album

    %form{:method => 'post', :action => 'player'}
      %input{:type => "hidden", :name => "_method", :value => "put"}
      - if settings.controls
        %input#playpause{:type=>'submit', :value => '▸', :name=>'playpause', :title => "Play/Pause",   :'data-keyboard-key' => " ", :'data-keyboard-name' => "space" }
        %input#prev{     :type=>'submit', :value => '←', :name=>'prev',      :title => "Previous",     :'data-keyboard-key' => "p" }
        %input#next{     :type=>'submit', :value => '→', :name=>'next',      :title => "Next",         :'data-keyboard-key' => "n" }
        %input#voldown{  :type=>'submit', :value => '♪', :name=>'voldown',   :title => "Quieter",      :'data-keyboard-key' => "-" }
        %input#volup{    :type=>'submit', :value => '♫', :name=>'volup',     :title => "Louder",       :'data-keyboard-key' => "+" }
      - if settings.voting
        %input#vote{     :type=>'submit', :value => '↡', :name=>'vote',      :title => "Vote to Skip", :'data-keyboard-key' => "s" }

    %script{:src => '/jquery.min.js'}
    %script{:src => '/script.js'}

